.add-option {
  display: flex;
  flex-direction: column;
  background-color: $color-secondary-15;
  padding: $space-s;
}

.add-option__input {
  flex-grow: 1;
  border-radius: 0;
  border: 0;
  background-color: $color-special-00;
  color: $color-secondary-15;
  font-size: $space-m;
  font-weight: 500;
  padding: $space-s;
  border-bottom: $space-xs/2 solid;
  border-color: $color-secondary-20;
}

.add-option__error {
  color: $color-primary-00;
  font-style: italic;
  font-size: $space-s;
  margin: $space-s;
}

@media (min-width: $desktop-breakpoint) {
  .add-option {
    flex-direction: row;
    padding: 0;
  }

  .add-option__input {
    margin: $space-m;
  }
}
