// Big Button

.big-button {
  background-color: $color-primary-10;
  color: white;
  font-size: $space-xl;
  border: none;
  border-bottom: $space-xs solid;
  border-color: $color-primary-20;
  padding: $space-s;
  font-family: Teko;
  text-transform: uppercase;
  width: 100%;
  transition-duration: $speed-fast;
  margin-bottom: $space-s;
}

.big-button:hover:enabled {
  cursor: pointer;
  background-color: $color-primary-05;
  transition-duration: $speed-fast;
}

.big-button:active:enabled {
  transform: translateY($space-xs/2);
  border-bottom: $space-xs/2 solid $color-primary-20;
  margin-bottom: $space-m + $space-xs / 2;
  transition-duration: $speed-fast;
}

.big-button:disabled {
  opacity: 0.5;
}

// Button

.button {
  background-color: $color-primary-10;
  color: white;
  font-size: $space-m;
  border: none;
  font-family: Teko;
  transition-duration: $speed-fast;
  margin: $space-s;
}

.button--padded {
  padding: $space-s;
}

.button:hover {
  background-color: $color-primary-00;
  cursor: pointer;
}

.button--link {
  background-color: unset;
  color: $color-special-15;
}
.button--link:hover {
  cursor: pointer;
  background-color: unset;
  color: $color-special-00;
  text-shadow: 1px 1px 2px black;
}

.button__add-option {
  padding: $space-xs;
  margin: 0;
  border: none;
  border-bottom: $space-xs/2 solid;
  border-color: $color-primary-20;
}

@media (min-width: $desktop-breakpoint) {
  .big-button {
    margin-bottom: $space-m;
  }
  .button__add-option {
    padding: $space-m;
    margin: $space-m;
  }
}
