.header {
  font-family: Teko;
  padding: $space-s 0;
  background-color: $color-secondary-20;
  text-align: center;
  text-shadow: 1px 1px 1px $color-black;
}

.header__title {
  color: $color-primary-10;
  font-size: 7.2rem;
  font-weight: bold;
  margin: 0;
}

.header__subtitle {
  color: $color-secondary-00;
  font-size: $space-l;
  font-weight: 400;
  margin: 0;
}

.header__bright-primary {
  color: $color-primary-05;
}
