.options {
  list-style: none;
  margin: 0;
  padding-left: 0;
  width: 100%;
}

.options__option {
  border-bottom: 1px solid $color-secondary-10;
  display: flex;
  justify-content: space-between;
}
.options__option__text {
  color: white;
  font-size: $space-m;
  font-weight: 500;
  margin: $space-s;
  text-transform: capitalize;
  word-break: normal;
}
