// Widget-Container
.widget {
  box-shadow: 4px 4px 4px -2px black;
  background-color: $color-secondary-15;
}
// Widget Header
.widget__header {
  max-width: 100%;
  background-color: $color-secondary-20;
  display: flex;
  justify-content: space-between;
}

// Widget Title
.widget__header__title {
  color: white;
  font-size: $space-m;
  margin: $space-s;
}
