// Widget Header

.widget-header {
  max-width: 100%;
  background-color: $color-secondary-20;
  display: flex;
  justify-content: space-between;
}

// Widget Title

.widget-title {
  color: white;
  font-size: $space-m;
  margin: $space-s;
}

.widget-options {
  list-style: none;
  padding-left: 0;
  margin: 0;
  width: 100%;
  background-color: $color-secondary-15;
}
.widget-option {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color-secondary-10;
}
.widget-option-text {
  color: white;
  margin: $space-s;
  font-size: $space-m;
  font-weight: 500;
  text-transform: capitalize;
}

.widget-form {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid $color-secondary-20;
}

.widget-input {
  border-radius: 0;
  border: 0;
  background-color: $color-special-00;
  color: $color-secondary-15;
  width: 100%;
  font-size: $space-m;
  font-weight: 500;
  padding: $space-m;
}
