@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700|Teko:300,400,500,600,700");

html {
  font-size: 62.5%;
}

body {
  background-color: $color-white;
  font-family: Hind, Helvetica, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}
